{% load static %}

<div class="video-container">
    <video playsinline autoplay muted loop>
      <source src="{% static 'video/blue_drop.mp4' %}" type="video/mp4" />
    </video>
    <div id="main">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="text-dark fw-dark">
        <h1 class="custom_head">SECQUARE</h1>
        <h2 class="statement">Tune in, Wander on</h2>
      </div>
    </div>
  </div>
  <div class="text-inside-video-container">
    {% comment %} {% include "jamwine_blog/components/header_content.html" %} {% endcomment %}
    {% comment %} {% include "jamwine_blog/components/square_loader.html" %} {% endcomment %}

    {% comment %} <p>The <b>SECOND SQUARE</b> Theory</p> {% endcomment %}
    {% comment %} {% include "jamwine_blog/components/fade_in_text_animation.html" %} {% endcomment %}

  </div>
  </div>