@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background-color:hsl(195, 100%, 7%); */
}


.video-container {
  position: relative;
  width: 100%;
  height: 120vh;
  top: -20vh;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

/* .video-style {
  object-fit: cover;
  width: 100%;
  height: 100vh;
} */

.custom_head {
  font-family: "Julius Sans One", cursive;
  font-size: 5vw;
  text-shadow: 0em 0.0375em 0.120375em rgba(0, 0, 0, 0.237);
  color: #141333;
  line-height: 1em;
  text-align: center;
}

.statement {
  font-family: "Julius Sans One", cursive;
  font-size: 1.5vw;
  color: #12229d;
  text-transform: uppercase;
  line-height: 1em;
  text-align: center;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  z-index: 2; */
  position: relative;
  /* background: radial-gradient(rgba(3, 12, 23, 0), rgb(3, 15, 52)); */
  /* background: radial-gradient(rgb(60 107 192 / 26%), rgb(12 43 111)); */
  background: radial-gradient(rgb(37 16 255 / 10%), rgb(0 0 0 / 15%));

}

/* about.html */
#ghost_canvas{
    margin:0 auto;
    display:block;
}


/* .jwclub {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 2vw;
}

.jwc {
  font-family: "Raleway Dots", cursive;
  font-size: 1vw;
  color: #fff;
}
.footer {
  background-color: #030505;
} */


/* ------------------------------------------- */

/* header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1;
}

/* .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
} */

/* ----------------------------------------------------- */

/* dance.html */
#dance_canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  cursor: pointer;
}