@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background-color:hsl(195, 100%, 7%); */
}

.video-container {
  position: relative;
  width: 100%;
  height: 120vh;
  top: -20vh;
  /* overflow: hidden; */
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* min-width: 100%; */
  min-height: 100%;
  object-fit: cover;
  width: 100%;
  /* height: 100vh; */
}

/* .video-style {
  object-fit: cover;
  width: 100%;
  height: 100vh;
} */

.custom_head {
  font-family: "Julius Sans One", cursive;
  font-size: 5vw;
  text-shadow: 0em 0.0375em 0.120375em rgba(0, 0, 0, 0.237);
  color: #141333;
  line-height: 1em;
  text-align: center;
}

.statement {
  font-family: "Julius Sans One", cursive;
  font-size: 1.5vw;
  color: #12229d;
  text-transform: uppercase;
  line-height: 1em;
  text-align: center;
}

#main {
  width: 100%;
  height: 100%;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  z-index: 2; */
  position: relative;
  /* background: radial-gradient(rgba(3, 12, 23, 0), rgb(3, 15, 52)); */
  /* background: radial-gradient(rgb(60 107 192 / 26%), rgb(12 43 111)); */
  background: radial-gradient(rgb(37 16 255 / 10%), rgb(0 0 0 / 15%));

}

.text-inside-video-container {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:hsl(195deg 25.55% 13.92%); */
    background-color: #13293d;
    color:#7bcaff;
  }
  
  .text-inside-video-container p {
    font-size: 4vh; /* set font size for text */
  }

  .main_body{
    background-color:hsl(195deg 25.55% 13.92%);
    color:#7bcaff;
 }
/* about.html */
#ghost_canvas{
    margin:0 auto;
    display:block;
}


/* .jwclub {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 2vw;
}

.jwc {
  font-family: "Raleway Dots", cursive;
  font-size: 1vw;
  color: #fff;
}
.footer {
  background-color: #030505;
} */


/* ------------------------------------------- */

/* header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  z-index: 1;
}

/* .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
} */

/* ----------------------------------------------------- */

/* dance.html */
#dance_canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  cursor: pointer;
}



/* ----------------------------------------------------- */

/* fade_in_text_animation.html */


fade_div {
  font-family: "Montserrat Medium";
  /* max-width: 40ch; */
  text-align: center;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
